{% extends 'base.html' %}

{% block content %}
<h1>New Products</h1>
    <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img height="270" src="{{ new_products.image_url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ new_products.name }}</h5>
                        <p class="card-text">${{ new_products.price }}</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
                <br>
            </div>
    </div>
{% endblock %}