{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for offer in offers %}
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Coupon</h5>
            <p class="card-text">{{ offer.description }}</p>
            <p class="card-text">{{ offer.code }}</p>
            <a href="#" class="btn btn-primary">Get coupon</a>
          </div>
        </div>
        <br>
      </div>
    {% endfor %}
</div>
{% endblock %}